
{% extends 'base.html' %}
{% load static %}

{%block titulo%} NOSOTROS {%endblock titulo%}

{%block contenido%}
<h1>Objetivo del blog</h1>
<p>Este blog se hizo con la finalidad de brindar a el usuario informacion confiable y actualizada sobre el mundo de la tecnologia, videojuegos y más.</p>
<h1>Esta abarca temas como:</h1>
<p>Tecnología</p>
<p>Mundo de programación</p>
<p>Lanzamientos de apps/juegos</p>
<p>Robotica</p>
<p>videojuegos</p>
<p>Y más...</p>

<h1> nosotros somos: </h1>
<h2>El grupo 9</h2>
<h1>Alarcon Fabricio, Carlos Eduardo Gómez, Juan Manuel Castella, Alan Quenardelle </h1>
{%endblock contenido%}    
