{% extends 'base.html' %}
{% load static %}

{% block titulo%}Noticia{%endblock titulo%}

{% block contenido%}

<h1>{{noticia}}</h1>
<img src="{{noticia.imagen.url}}" alt="" width="300">
<p>{{noticia.cuerpo}}</p>
<p>{{noticia.fecha}}</p>
<p>{{noticia.categoria_noticia}}</p>



<br>
<hr>
<h3>Comentá algo aquí</h3>
<form action="{% url 'noticias:comentar' %}" method="post">{% csrf_token %}

    <textarea name="comentario" cols="30" rows="3"></textarea>
    <input type="text" name="id_noticia" value="{{ noticia.pk }}" hidden="">
    <input type="submit" value="comentar">

</form>
<br>
<hr>
<h3>Comentarios</h3>
<!-- {% for com in comentarios %}

<p><strong>{{ com.usuario }}</strong> {{ com.fecha }}</p>
<p> comentario: {{ com.texto }}</p>
{% endfor %} -->

    {% for com in comentarios %}
    <div class="contenedor">
    <div class="row mb-2">
        <div class="col-md-16">
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-8 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                    <strong class="d-inline-block mb-2 text-primary-emphasis">{{ com.usuario }}  </strong>
                    <h3 class="mb-0"><strong> comentario: {{ com.texto }}</strong></h3>
                    <div class="mb-1 text-body-secondary"> {{ com.fecha }}</div>
                
                    <title>Placeholder</title>

                </div>

            </div>
        </div>
    </div>
</div>
{% endfor %}
        {% if post.author %}
            <div x-data="{open:false}" class="relative inline-block text-left">
                <div>
                    <div @click="open=true" class="w-8 h-8 grid place-items-center text-xl text-gray-500 hover:bg-gray-200 dark:text-dark-txt dark:hover:bg-dark-third rounded-full cursor-pointer">
                        <i class='bx bx-dots-horizontal-rounded'></i>
                    </div>
                </div>
                <div x-show="open" @click.away="open=false" class="origin-top-right absolute right-0 mt-2 w-56 rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5 focus:outline-none" role="menu" aria-orientation="vertical" aria-labelledby="menu-button" tabindex="-1">
                    <div class="py-1" role="none">
                    <!-- Active: "bg-gray-100 text-gray-900", Not Active: "text-gray-700" -->
                    <a href="{% url 'noticia:post-edit' post.pk %}" class="text-gray-700 block px-4 py-2 text-sm" role="menuitem" tabindex="-1" id="menu-item-0">Edit</a>
                    <a href="{% url 'social:post-delete' post.pk %}" class="text-gray-700 block px-4 py-2 text-sm" role="menuitem" tabindex="-1" id="menu-item-1">Delete</a>
                    
                    </div>
                </div>
            </div>
        {% endif %}
{% endblock contenido%}


