{% extends 'base.html' %}
{% load static %}

{% block titulo%} noticias {% endblock titulo %}

{% block contenido%}


<aside>
    <div class="p-4">
        <h3 class="fst-italic">Categorias</h3>
        <ol class="list-unstyled mb-0">

            <li><a href="{% url 'noticias:inicio' %}"> Todas</a></li>
            <li>{% for c in categorias %}
                <a href="?id={{c.pk}}">{{c.nombre}}</a>
                {% endfor %}
            </li>
        </ol>
    </div>
    </div>
</aside>
</div>


<hr>



    {% for noticia in noticias %}
    <div class="contenedor">
    <div class="row mb-2">
        <div class="col-md-16">
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-8 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                    <strong class="d-inline-block mb-2 text-primary-emphasis">{{noticia.categoria_noticia}}</strong>
                    <h3 class="mb-0"><strong>{{ noticia.titulo }}</strong></h3>
                    <div class="mb-1 text-body-secondary">{{noticia.fecha}}</div>
                    <p class="card-text mb-auto">{{ noticia.cuerpo }}</p>
                    <a href="{% url 'noticias:detalle' noticia.pk %}"
                        class="icon-link gap-1 icon-link-hover stretched-link">
                        Seguir leyendo...
                        <svg class="bi">
                            <use xlink:href="#chevron-right"></use>
                        </svg>
                    </a>
                </div>
                <div class="col-auto d-none d-lg-block">
                    <img class="bd-placeholder-img" src="{{ noticia.imagen.url }}" width="400" height="250"
                        xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail"
                        preserveAspectRatio="xMidYMid slice" focusable="false">

                    <title>Placeholder</title>

                </div>

            </div>
        </div>
    </div>
</div>


{% endfor %}

<!-- boton de subida -->
<hr>
<h2><a href="{% url 'noticias:inicio' %}"> Volver arriba <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-arrow-up-circle-fill" viewBox="0 0 16 16">
    <path d="M16 8A8 8 0 1 0 0 8a8 8 0 0 0 16 0zm-7.5 3.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707V11.5z"/>
  </svg></a></h2>

{% endblock contenido%}